*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Source Code Pro', monospace;
}

header {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  background-color: #5c1a5c;
}

.slider-area {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #dfc284;
}

input {
  display: none;
}

.slider {
  height: 600px;
}

.slider-img {
  display: none;
  border-radius: 20px;
}

#button-01:checked ~ .slider > .img-01 {
  display: block;
  animation: 1s appearance-01;
}

#button-02:checked ~ .slider > .img-02 {
  display: block;
  animation: 1s appearance-02;
}

#button-03:checked ~ .slider > .img-03 {
  display: block;
  animation: 1s appearance-03;
}

#button-04:checked ~ .slider > .img-04 {
  display: block;
  animation: 1s appearance-04;
}

#button-05:checked ~ .slider > .img-05 {
  display: block;
  animation: 1s linear appearance-05;
}

@keyframes appearance-01 {
  from {
    margin-left: -2000px;
    transform: rotate(-15deg);
  }
  to {
    margin-left: 0;
    transform: rotate(0deg);
  }
}

@keyframes appearance-02 {
  from {
    transform: scale(0%);
  }
  80% {
    transform: scale(121%);
  }
  to {
    transform: scale(100%);
  }
}

@keyframes appearance-03 {
  from {
    transform: scale(70%, 0%);
  }
  to {
    transform: scale(100%, 100%);
  }
}

@keyframes appearance-04 {
  from {
    transform: rotate(-540deg) scale(0%);
  }
  80% {
    transform: rotate(15deg) scale(100%);
  }
  to {
    transform: rotate(0) scale(100%);
  }
}

@keyframes appearance-05 {
  from {
    margin-top: -2000px;
    transform: rotate(15deg);
  }
  90% {
    margin-top: 0;
    transform: rotate(0);
  }
  95% {
    margin-top: -50px;
    transform: rotate(-10deg);
  }
  to {
    margin-top: 0;
    transform: rotate(0);
  }
}

.slider-control {
  width: 900px;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.inscriptions {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  font-size: 25px;
  color: #ffffff;
  background-color: #5c1a5c;
  border-radius: 35px;
}

.inscriptions > p {
  display: none;
}

#button-01:checked ~ .slider-control > .inscriptions > #text-01 {
  display: block;
  animation: 1s linear text-appearance;
}

#button-02:checked ~ .slider-control > .inscriptions > #text-02 {
  display: block;
  animation: 1s linear text-appearance;
}

#button-03:checked ~ .slider-control > .inscriptions > #text-03 {
  display: block;
  animation: 1s linear text-appearance;
}

#button-04:checked ~ .slider-control > .inscriptions > #text-04 {
  display: block;
  animation: 1s linear text-appearance;
}

#button-05:checked ~ .slider-control > .inscriptions > #text-05 {
  display: block;
  animation: 1s linear text-appearance;
}

@keyframes text-appearance {
  from {
    margin-bottom: -100px;
  }
  70% {
    margin-bottom: 20px;
  }
  to {
    margin-bottom: 0;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

label > div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c1a5c;
  border: 4px solid #464646;
  border-radius: 15px;
}

label:hover > div {
  background-color: #225c1a;
}

label:active > div {
  background-color: #1a475c;
}

#button-01:checked ~ .slider-control > .buttons > label > #radio-01 {
  background-color: #d10000;
}

#button-02:checked ~ .slider-control > .buttons > label > #radio-02 {
  background-color: #d10000;
}

#button-03:checked ~ .slider-control > .buttons > label > #radio-03 {
  background-color: #d10000;
}

#button-04:checked ~ .slider-control > .buttons > label > #radio-04 {
  background-color: #d10000;
}

#button-05:checked ~ .slider-control > .buttons > label > #radio-05 {
  background-color: #d10000;
}

label > div > div {
  width: 12px;
  height: 12px;
  display: none;
  background-color: #3d3d3d;
  border-radius: 6px;
}

#button-01:checked ~ .slider-control > .buttons > label > #radio-01 > div {
  display: block;
  background-color: #3d3d3d;
}

#button-02:checked ~ .slider-control > .buttons > label > #radio-02 > div {
  display: block;
  background-color: #3d3d3d;
}

#button-03:checked ~ .slider-control > .buttons > label > #radio-03 > div {
  display: block;
  background-color: #3d3d3d;
}

#button-04:checked ~ .slider-control > .buttons > label > #radio-04 > div {
  display: block;
  background-color: #3d3d3d;
}

#button-05:checked ~ .slider-control > .buttons > label > #radio-05 > div {
  display: block;
  background-color: #3d3d3d;
}

footer {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  background-color: #5c1a5c;
}

.footer_div {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer {
  display: flex;
  gap: 10px;
}

.developer_link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

.developer_link:hover,
.developer_link:visited:hover {
  color: #ffe96d;
  transform: scale(110%);
}

.developer_link:visited {
  color: #ffffff;
}

.rsschool_link:hover {
  transform: scale(110%);
  transition: 0.4s;
}

@media (max-width: 920px) {
  .slider {
    width: 720px;
    height: 480px;
  }
  .slider-img {
    width: 720px;
    height: 480px;
  }
  .slider-control {
    width: 720px;
  }
  .footer_div {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .slider {
    width: 600px;
    height: 400px;
  }
  .slider-img {
    width: 600px;
    height: 400px;
  }
  .slider-control {
    width: 600px;
    flex-direction: column;
  }
  .inscriptions {
    width: 100%;
    order: 2;
  }
  .footer_div {
    width: 600px;
  }
}